body {
    font-family: sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
#text-input {
    width: 90%;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    font-family: monospace;
}
#text-output {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New';
    color: darkblue;
}
#my-button {
    color: white;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
}

